
@{
    ViewData["Title"] = "FullProfileView";
}

@model Sparta_Global_Profile.ViewModel.FullProfile

<h1>FullProfileView</h1>

<h4> Profile </h4>
<p>
    Full Name: @Model.ProfileFullName
</p>
<p>
    Picture Url: @Model.ProfilePic
</p>
<p>
    Summary: @Model.ProfileSummary
</p>
<p>
    Stream: @Model.ProfileStream
</p>
<p>
    Approved: @Model.ProfileApprovalStatus
</p>
<p>
    Academy Status: @Model.ProfileAcademyStatus
</p>

@foreach(var item in Model.Assignments)
{
    <p> Company name: @item.CompanyName </p>
}
