@model Sparta_Global_Profile.Models.SpartaProject

@{
    ViewData["Title"] = "Edit";
}

<div class="profile-section">

    <h1>Edit</h1>

    <h4>Sparta Project</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="SpartaProjectId" />
                <div class="form-group">
                    <label asp-for="ProfileId" class="control-label">Profile Name</label>
                    <select asp-for="ProfileId" class="form-control" asp-items="ViewBag.ProfileId"></select>
                    <span asp-validation-for="ProfileId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ProjectName" class="control-label">Project Name</label>
                    <input asp-for="ProjectName" class="form-control" />
                    <span asp-validation-for="ProjectName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ProjectBio" class="control-label">Project Description</label>
                    <input asp-for="ProjectBio" class="form-control" />
                    <span asp-validation-for="ProjectBio" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <h5>Project Links</h5>
    <ul>
        @if (ViewBag.ProjectLinks.Count == 0)
        {
            <li>You have no projects listed</li>
        }
        else
        {
            @foreach (var projectLink in ViewBag.ProjectLinks)
            {
                <li>@projectLink.LinkText - @projectLink.Url</li>
            }
        }
        <br />
    </ul>
    <a asp-controller="ProjectLinks" asp-action="Create" asp-route-id="@ViewBag.ProjectId"><button>Add Link</button></a>
    <a asp-controller="ProjectLinks" asp-action="Index" asp-route-id="@ViewBag.ProjectId"><button>Edit Links</button></a>

    <br /><br />

    <div>
        <a asp-action="Index" asp-route-id="@ViewBag.Profile.ProfileId"><button>Back to Projects</button></a>
        <a asp-controller="Profile" asp-action="Edit" asp-route-id="@ViewBag.Profile.ProfileId"><button>Back to Edit Profile</button></a>
    </div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
