@model IEnumerable<Sparta_Global_Profile.Models.SpartaProject>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProjectName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectBio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Profile)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectBio)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Profile.ProfileId)
            </td>*@
            <td>
                <a asp-action="Edit" asp-route-id="@item.SpartaProjectId">Edit</a> |
                @*<a asp-action="Details" asp-route-id="@item.SpartaProjectId">Details</a>*@ |
                <a asp-action="Delete" asp-route-id="@item.SpartaProjectId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<a asp-controller="profile" asp-action="details"><button>Back to Edit Profile</button></a>