@model IEnumerable<Sparta_Global_Profile.Models.SpartaProject>

@{
    ViewData["Title"] = "Sparta Projects - " + ViewBag.ProfileName;
}

<div class="profile-section">

    @if ("All" == ViewBag.Type)
    {
        <h1>All Sparta Projects</h1>
        <p>
            <a asp-action="Create"><button>Create Project</button></a>
        </p>
    }
    else
    {
        <h1>@ViewBag.ProfileName's projects</h1>
    }

    @if (Model.Count() <= 8 && ViewBag.Type == "Student")
    {
        <p>
            <a asp-action="Create" asp-route-id=@ViewBag.ProfileId><button>Create Project</button></a>
        </p>
    }

    @if (Model.Count() != 0)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Profile Name
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProjectName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProjectBio)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Profile.ProfileName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProjectName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProjectBio)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.SpartaProjectId"><button>Edit</button></a>
                            <a asp-action="Delete" asp-route-id="@item.SpartaProjectId"><button>Delete</button></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h3>You have no sparta projects listed at the moment</h3>
    }

    <a asp-controller="profile" asp-action="edit" asp-route-id="@ViewBag.ProfileId"><button>Back to Edit Profile</button></a>

</div>