@model IEnumerable<Sparta_Global_Profile.Models.User>

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="adminpanel-section">
    <h1 class="admin">Admin Panel</h1>

    <p>
        <a asp-action="Create"><button>Create New User</button></a>
    </p>

    <form class="searchbar" asp-action="Index" method="get">
        <div class="form-actions no-color">
            <p>
                Search by Name: <input type="text" name="searchString" placeholder="Search.." value="@ViewData["CurrentFilter"]" />
                <button type="submit"><i class="fa fa-search"></i></button>
                <a asp-action="Index">Back to Full List</a>
            </p>
        </div>
    </form>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserEmail)
                </th>

                <th>
                    User Type
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserEmail)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.UserType.UserTypeName)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.UserId"><button>Edit </button> </a>
                        <a asp-action="Delete" asp-route-id="@item.UserId"><button>Delete </button> </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>