@model IEnumerable<Sparta_Global_Profile.Models.ProjectLink>

@{
    ViewData["Title"] = "Project Links";
}

<h1>Project Links</h1>

<p>
    <a asp-action="Create"><button>Create New</button></a>
</p>

@if (Model.Count() == 0)
{
    <h5>You have no project links added</h5>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Link Name
                </th>
                <th>
                    Url
                </th>
                <th>
                    Sparta Project
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LinkText)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Url)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SpartaProject.ProjectName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ProjectLinkId"> <button> Edit </button> </a>
                    <a asp-action="Delete" asp-route-id="@item.ProjectLinkId"><button> Delete </button></a>
                </td>
            </tr>
    }
        </tbody>
    </table>
}

<a asp-controller="spartaprojects" asp-action="index" asp-route-id="@ViewBag.ProjectId"><button>Back to Projects</button></a>
